{% macro load_footer() %}
<div class="uk-section uk-section-primary">
    <div class="uk-container uk-container-small">
        <div class="uk-text-center uk-card-body">
            <small>Copyright © Sport Stars. All Rights Reserved.</small>
        </div>
    </div>
</div>
{% endmacro %}