{% extends "header.twig" %}

{% block body %}
<body id="go">
<main>
    {% block content %}{% endblock %}
</main>
{% block footerContent %}{% import 'footer.twig' as macros  %}{{ macros.load_footer() }}{% endblock %}
{% block bodyJavaScript %}{% endblock %}
{{ url }}
</body>
{% endblock %}