{% extends "index.twig" %}

{% block content %}
    <div class="uk-margin-remove-top uk-height-large uk-background-cover uk-overflow-hidden uk-flex" style="background-image: url('https://source.unsplash.com/random/1920x500/?yachts');">
        <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical uk-overlay uk-overlay-default">
            <h1>Octoleo CMS</h1>
            <p>There has no home page been created for this CMS. Please come again soon...</p>
        </div>
    </div>
{% endblock %}