# IDE & System Related Files
.idea

# Local System File
config.php
web.config
php.ini

# Vendor directory handling
/libraries/vendor

# OSX
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini
